@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    max-width: 1280px;
    margin:0 auto;
}
.login{
    background-image: url('../../../assets/menu/menu-bg.png');
}

.custom{
    background-color: rgba(59, 59, 59, 0.5);
}
.navlink a.active {
    color: white;
  }
 /* .deleteBtn{
    background-color: red;
    color: white;
    padding:16px 19px;
 }  */

 tr {
   background-color: black;
    
 }